:root {
  --primary-color: #f94892;
  --secondary-color: #121212;
  --text-color: #ffffff;
  --color-cream: #ffe1a0;
  --color-pink: #f67280;
  --color-magenta: #f94892;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  backdrop-filter: blur(3px);
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
}

.header .logo {
  cursor: pointer;
  position: relative;
  padding: 0 10px;
  transition: transform 0.25s ease;
}
.header .logo:hover {
  transform: translateY(-2px);
}

.header .logo .logo-img {
  width: 100%;
  height: 100%;
  font-size: 50px;
  color: var(--color-white);
  font-weight: 400;
  border-radius: 50%;
}

.header .logo .logo-img::before {
  content: "{";
  position: absolute;
  left: -12px;
  opacity: 0;
  color: var(--color-pink);
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.header .logo .logo-img::after {
  content: "}";
  position: absolute;
  right: -12px;
  opacity: 0;
  color: var(--color-pink);
  transform: translateX(5px);
  transition: all 0.3s ease;
}

.header .logo:hover .logo-img::before,
.header .logo:hover .logo-img::after {
  opacity: 0.8;
  transform: translateX(0);
}



.header .logo .logo-img span {
  font-weight: 300;
  color: var(--color-cream);
  text-shadow: 0 0px 3px;
  position: relative;
  margin-left: 10px;
  padding-right: 2px;
}
.header .logo:hover .logo-img span::after {
  transform: scaleX(1);
}

.header .logo .logo-img span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, var(--color-pink), var(--color-magenta));
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-out;
}
.header .logo .logo-img .blink {
  animation: blink 4s infinite;
}
@keyframes blink {
    0% {
      color: var(--color-cream);
      text-shadow: 0 0px 5px;;
    }
    30% {
      color: var(--color-pink);
      text-shadow: 0 0px 5px;;
    }
    70% {
      color: var(--color-magenta);
      text-shadow: 0 0px 5px;;


    }
  }


.header .nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0;
  padding: 0;
}


.nav-menu li {
  width: max-content;
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.nav-menu li .navLink {
  font-size: 24px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
  display: inline-block;
}

.navLink.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-pink);
  color: #ffe1a0;
  animation: underline 0.3s ease-in-out;
}
.navLink.active {
    color: var(--color-cream);
    position: relative;
    font-weight: bold;
  }
@keyframes underline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.nav-menu li .navLink:hover {
  color: var(--color-cream);
  transform: scale(1.1);
}


.nav-menu li:hover {
  transform: translateY(-3px);
}

.header .hamburger {
  display: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 24px;
}

@media screen and (max-width: 1300px), (max-height: 550px) {
  .header {
    width: 100vw;
    height: auto;
    flex-direction: row;
    padding: 10px 20px;
    z-index: 100;
    backdrop-filter: blur(30px);
  }

  .header .logo {
    width: auto;
    height: auto;
    margin: 0;
  }

  .header .logo .logo-img {
    font-size: 40px;
  }

  .header .hamburger {
    display: initial;
    z-index: 10;
  }

  .header .nav-menu {
    width: 50vw;
    position: absolute;
    top: 0;
    height: 85vh;
    right: -100%;
    transition: 0.5s;
    background: var(--secondary-color);
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 70px;
  }

  .header .nav-menu.active {
    right: 0;
    z-index: 9;
  }

  .header .nav-menu li {
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }

  .nav-menu li .navLink {
    width: 100%;
    text-align: center;
  }
}
